<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freelance.me_owner.me_owner">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="24"/>
    <!-- Tambahan -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.LOCATION_HARDWARE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:name=".app.AppController"
        android:icon="@mipmap/logo_me_owner"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_me_owner"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashscreen"
            android:screenOrientation="portrait"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Login_keluar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MyLocationMaps">
        </activity>
        <activity
            android:name=".Login_MyLocationMaps"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".datalokasi"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".detail_datalokasi"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Login_editdata"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Login_MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- tambahan -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCjhHcVS62PhFguHKU_FViL5eJLrLQzTEI" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- tambahan -->

    </application>

</manifest>